img {
  max-width: 100%;
}

.grey-text {
  color: #b9b6b6
}

p {
  margin: 0;
}

.description-text {
  font-size: .8rem;
  margin: 10px 0;
  word-break: break-all;
  padding-bottom: 1rem;
}

.col-auto {
  position: absolute;
  bottom: 4px;
  right: -8px;
}

.product-container {
  flex-wrap: wrap;
  display: flex;
  margin-top: 2rem;
  margin-right: 23px;
}

.shadow {
  box-shadow: 6px 2px 29px -5px rgba(133, 126, 133, .5);
  padding: 15px;
  min-height: 170px;
  position: relative;
}

.btn-right {
  bottom: 15px;
  position: absolute;
  right: 15px;
}

.card-title {
  font-size: 0.9rem;
}

.product-price {
  font-weight: 700;
  color: green;
}

@media (max-width: 992px) {
  .shadow {
    min-height: 300px;
  }

}



@media (max-width: 768px) {
  .shadow {
    min-height: 320px;
  }

  img {
    max-width: 80%;
  }
}
